<style>
  .ng-dirty.ng-invalid {
    border-color: #fa787e;
  }
  .ng-dirty.ng-valid {
    border-color: #78fa89;
  }
</style>
<div class="alert alert-success" role="alert" ng-if="creationSuccess">Пользователь {{user.name}}!</div>
<form name="userForm" novalidate>
  <div class="form-group">
    <label>Имя</label>
    <input class="form-control" ng-model="user.name" type="text" placeholder="Имя" required>
  </div>
  <div class="form-group">
    <label>Логин</label>
    <input class="form-control" ng-model="user.username" type="text" placeholder="Логин">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" ng-model="user.email" type="text" placeholder="Email">
  </div>
  <button type="submit" class="btn btn-default" ng-click="createUser(newUser)" ng-disabled="userForm.$invalid">Сохранить</button>
</form>
